.container-style {
    height: 100px;
    width: 250px;
    background-color: #eeeeed;
    box-shadow: 1px 3px 10px #9E9E9E;
    border-radius: 10px;
    
    margin: 10px;
}

.chart-style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.position-style {
    font-weight: bold;
    color: #414141;
}

.location-style {
    color: #787878;
}